<template>
  <div>
    <h1>ojichat.js sample</h1>
    <input v-model="name" placeholder="君の名は?">
    <input type="number" v-model="emojiNum" placeholder="本気度">
    <p class="ojichat">{{ ojichat(name, emojiNum) }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import * as ojichat from "ojichat.js";

@Component
export default class Ojichat extends Vue {
  @Prop({ default: "" }) _name!: string;
  @Prop({ default: "" }) _emojiNum!: number;
  data() {
    return { name: this._name, emojiNum: this._emojiNum };
  }
  ojichat(name: string, emojiNum: number): string {
    return new ojichat.Generator(name, emojiNum).getMessage();
  }
}
</script>

<style scoped>
.ojichat {
  font-size: 300%;
}
</style>
